<mat-toolbar>
    <span>XClone</span>
    <span class="spacer"></span>
    <!-- TODO: Conditional display of text depending on if user is signed in or not. -->
    <a mat-button href="https://www.google.com/" target="_blank">Login / Sign Up</a>
    <button mat-icon-button>
        <mat-icon matBadge="{{notificationCount}}">home</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>